{:paths   ["src"]
 :deps    {provisdom/threadolet {:git/url "git@github.com:Provisdom/threadolet.git"
                                 :sha     "2e0cc863ac89611853e08733d74d5c7c02384cc6"}}
 :aliases {:test {:extra-paths ["test"]}}}